body {
    height: 100vh;
    background-image: url("https://cdn-images-1.medium.com/max/2600/1*QS59aHuIEgJoIogixOJ32w.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.content {
    color: white;
    font-size: 20px;
}
.content-header {
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 30px;
}
